* {
  box-sizing: border-box;
}

*,
body,
html {
  &::-webkit-scrollbar {
    background-color: #FCF9EA;
    height: 20px;
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #BADFDB;
    border-radius: 99em;
    border: 6px solid #FCF9EA;
  }
}

a {
  text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #FCF9EA;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    overflow: hidden;
    padding:0;
    
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: #FCF9EA;
    color: #FCF9EA;
  }
  
  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .10);
  }
  .logo-container img {
    height: 70px;
    vertical-align: middle;
  }
  
  .info-button-container {
     position: absolute;
  display: block;
  top: 40px;
  right: 105px;
  }

  .slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .slide {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
  }
  
  .button {
    font-size: 16px;
    font-weight: bold;
    color: #FCF9EA;
    background-color: #BADFDB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .button:hover {
    background-color: #FFC5A1;
  }
  
  /* .info-button-container:hover .info-popup {
    display: block;
  } */
  
  /* .close-button {
    font-size: 16px;
    font-weight: bold;
    color: #FCF9EA;
    background-color: #BADFDB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #FFC5A1;
  } */
  
  
  .dropbtn {
    font-size: 16px;
    font-weight: bold;
    color: #FCF9EA;
    background-color: #BADFDB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn:hover {
    background-color: #FFC5A1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* top: 60px; */
    right: 0;
    background-color: #FCF9EA;
    min-width: 160px;
    /* padding: 10px; */
    z-index: 1;
    border: 1px solid #F8A978;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color:#BADFDB;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #F8A978;
    color: #FCF9EA;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #FFC5A1;
  }

  .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.profile-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.profile-card img {
  width: 150px;
  height: 90px;
  border-radius: 50%;
}

/* #addProfileButton {
  margin-top: 20px;
} */

#addProfileButton {
  font-size: 16px;
  font-weight: bold;
  color: #FCF9EA;
  background-color: #BADFDB;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#addProfileButton:hover {
  background-color: #FFC5A1;
}
  
  /* .slideshow-container {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    scroll-behavior: smooth;
  }
  
  .slide {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: min(50vw, 350px);
    display: inline-block;
    text-align: center;
    background-color: #BADFDB;;
    color: #FCF9EA;
    padding-bottom: 1.5rem;
    font-size: clamp(18px, 2.5vw, 22px);
    box-shadow: -10px 0 30px 0 rgba(#BADFDB, 0.25);
    margin-left: -4px;
  }

  .slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .form-button {
    margin-top: 20px;
  } */

  /* .main-container {
    display: flex;
    height: 60%;
    max-width: 1080px;
    margin: auto;
    margin-top: 5%;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
  }

  .image-container img {
    width: 540px;
    height: 500px;
}
  
  .right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
  }

  .image-button-container img {
    width: 100px;
    height: 50px;
  }
  
  .add-button {
    font-size: 48px;
    width: 100%;
    height: 100%;
    background-color: #BADFDB;
    color: #FCF9EA;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #FFC5A1;
    color: #333333;
    cursor: pointer;
  }
   */
  /* .image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FCF9EA;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .image-button:hover {
    background-color: #BADFDB;
    cursor: pointer;
  }
  
  .image-button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  } */
  