<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="./public/css/fsScheduleStyle.css">
  </head>
  <body onload="addRow();">
    <header class="box-shadow">
      <div class="logo-container">
        <a href="homePage"><img src="logo.png" alt="Logo"></a>
      </div>
      <div class="menu-buttons-container">
        <button id="fsSchedule" class="button">Feeding and Sleeping Schedule</button>
        <button id="medicalHistory" class="button">Medical History</button>
        <button id="timeline" class="button">Timeline</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Settings</button>
        <div class="dropdown-content">
          <a href="login">Logout</a>
          <a href="deleteAccount">Delete Account</a>
        </div>
      </div>
    </header>
    <!-- <h1 id="profileNameHeader"></h1> -->

    <form id="details">
        <input type="time" id="time" name="time">
        <input type="date" id="date" name="date" placeholder="Date">
        <select id="activity" name="activity">
          <option value="eat">Eat</option>
          <option value="sleep">Sleep</option>
        </select>
        <input type="text" id="info" name="info" placeholder="Information">
      
        <button onclick="addScheduleInDB();" type="button" id="addSchedule">Add Schedule</button>
      </form>
      <br><br>
      <table id="myTable">
        <thead>
          <tr>
            <th>Time</th>
            <th>Activity</th>
            <th>Information</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      

      <!-- <br><br>

      <button id="historyButton" onclick="showHistory()">History</button>
  
      <br><br>
  
      <table id="historyTable" >
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody> -->
          <!-- History rows will be dynamically generated here -->
        <!-- </tbody>
      </table> -->

    <script src="./public/js/fsSchedule.js"></script>
  </body>
</html>
