<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="./public/css/loginStyle.css">
</head>
<body>
  <div class="container">
    <h1>Baby Info Manager</h1>
    <form action="login" method="POST">
      <input type="username" id="username" name="username" placeholder="Username" required>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <p> You don't have an account? <a href="signup.html"> Sign Up</a></p>
      <!-- <a href="homePage.html" class="button">Login</a> -->

      <input type="submit" class="button" value="Login"/>  

    </form>
  </div>
</body>
</html>
