<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <title> Medical History</title>
        <link rel ="stylesheet" href="./public/css/medicalHistoryStyle.css">
    </head>
    <body onload="addDataToTable();">
        <header class="box-shadow">
            <div class="logo-container">
              <a href="homePage"><img src="logo.png" alt="Logo"></a>
            </div>
            <div class="menu-buttons-container">
              <button id="fsSchedule" class="button">Feeding and Sleeping Schedule</button>
              <button id="medicalHistory" class="button">Medical History</button>
              <button id="timeline" class="button">Timeline</button>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Settings</button>
              <div class="dropdown-content">
                <a href="logout">Logout</a>
                <a href="deleteAccount">Delete Account</a>
              </div>
            </div>
        </header>
        <h1 id="profileNameHeader"></h1>
        <div class ="container">
            <!-- <h1> This is {kid's name} medical history</h1> -->

            <form id="details">
              <legend>Details about the doctor's visit</legend>
              <input type="date" id="date" name="date"  max="" placeholder="Date">

              <input type="text" id="age" name="age" placeholder="Age">
              <input type="text" id="weight" name="weight" placeholder="Weight">
              <input type="text" id="height" name="height" placeholder="Height">
          
              <!-- <input type="button" class="form-button" value="Submit" onclick="addDataToTable()"> -->

              <input type="text" id="procedure" name="procedure" placeholder="Medical Procedure">
              <input type="text" id="note" name="note" placeholder="Additional Information">

              <input type="button" class="form-button" value="Add" id="add-medical-info" onclick="addChildrenMedicalHistoryInDB();">
            </form>

            <button class="button" id="save-table" onclick="tableToCSV();">Save table to CSV</button>

            <table id="medicalHistoryTable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Age</th>
                  <th>Weight</th>
                  <th>Height</th>
                  <th>Medical Procedure</th>
                  <th>Additional Information</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>

        <script src="./public/js/medicalHistory.js">

        </script>
    </body>
</html>