<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Info Manager</title>
    <link rel="stylesheet" type="text/css" href="./public/css/timelineStyle.css">
</head>
<body>
    <header class="box-shadow">
        <div class="logo-container">
          <a href="./Views/homePage.html"><img src="./public/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu-buttons-container">
          <a href="fsSchedule.html" class="button">Feeding and Sleeping Schedule</a>
          <a href="medicalHistory.html" class="button">Medical History</a>
          <a href="timeline.html" class="button">Timeline</a>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Settings</button>
          <div class="dropdown-content">
            <a href="index.html">Logout</a>
            <a href="index.html">Delete Account</a>
          </div>
        </div>
      </header>
      <h1 id="profileNameHeader"></h1>
    <div class="timeline">
        <div class="container left">
          <div class="date">01 Jan</div>
          <div class="content">
            <h2>First day of the year</h2>
            <video width="160" height="120" controls>
                <source src="video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="container right">
          <div class="date">08 Mar</div>
          <div class="content">
            <h2>Mother's day</h2>
            <img width="160" height="120" src="image1.jpg" alt="My Image">
          </div>
        </div>
        <div class="container left">
          <div class="date">01 Jun</div>
          <div class="content">
            <h2>Children's Day</h2>
            <p>
                Best day ever! We had a lot of fun and we did a lot of activities.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">19 Aug</div>
          <div class="content">
            <h2>Mom's birthday</h2>
            <img width="120" height="160" src="image2.jpg" alt="My Image">
          </div>
        </div>
        <div class="container left">
          <div class="date">26 Sep</div>
          <div class="content">
            <h2>Dad's birthday</h2>
            <video width="160" height="120" controls>
                <source src="video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="container right">
          <div class="date">25 Oct</div>
          <div class="content">
            <h2>1st year birthday celebration</h2>
            <img width="160" height="120" src="image3.jpg" alt="My Image">
          </div>
        </div>
    </div>
</body>
</html>