<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Info Manager</title>
    <link rel="stylesheet" type="text/css" href="./public/css/timelineStyle.css">
</head>
<body onload="addDataToTimeline();">
    <header class="box-shadow">
        <div class="logo-container">
          <a href="homePage"><img src="./public/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu-buttons-container">
          <a id="fsSchedule" class="button">Feeding and Sleeping Schedule</a>
          <a id="medicalHistory" class="button">Medical History</a>
          <a id="timelineHeader" class="button">Timeline</a>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Settings</button>
          <div class="dropdown-content">
            <a href="logout">Logout</a>
            <a href="deleteAccount">Delete Account</a>
          </div>
        </div>
      </header>
      <h1 id="profileNameHeader"></h1>

      <div class="buttonContainer">
        <button id="addTimelineButton">Add Timeline</button>
      </div>

       <!-- The Modal -->
       <div id="timelineModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="modal-form">
            <input type="date" id="date" name="date"  required>   
            <input type="text" id="timeline-title" name="timeline-title" placeholder="Timeline Title" required>
            <input type="text" id="timeline-info" name="timeline-info" placeholder="Timeline Info" required>
        
            <button class="button" type="button" id="addTimeline" onclick="addTimelineEntryInDB();">Add Timeline</button>
        </form>
        </div>

      </div>
    
    <div id="timeline" class="timeline">
        
    </div>

    <script src="../public/js/timeline.js"></script>

</body>
</html>