a {
  text-decoration: none;
}

  body {
    background-color: #FCF9EA;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    overflow: hidden;
    padding:0;
    
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:  #BADFDB;
    color:  #FCF9EA;
    padding: 20px;
  }
  
  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .10);
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .info-button-container {
    position: absolute;
    display: block;
    top: 36px;
    right: 105px;
  }

  .button {
    font-size: 20px;
    font-weight: bold;
    color: #FCF9EA;
    background-color: #BADFDB;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .button:hover {
    background-color: #FFC5A1;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color:  #FCF9EA;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    line-height: 1.5;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color:  #BADFDB;
    color:  #FCF9EA;
    font-size: 14px;
    margin-top: 20px;
  }
  